# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Typescript specific
*.tsbuildinfo

# Miscellaneous
.DS_Store
Thumbs.db

#Project specfic
downloads/
batchFile.txt
download-archive.txt